<label for="createServerButton">ServerName</label>

<!-- input with one-way binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- input with two-way binding via ngModel -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<button
  id="createServerButton"
  class="btn btn-primary"
  [disabled]="!enableAddingNew"
  (click)="onCreateServer()"
>
  Add server
</button>

<!-- <p>{{ serverName }}</p> -->

<!-- string interpolation -->
<!--  <p>{{ enableAddingNew }}</p> -->

<!-- property binding -->
<!-- <p [innerHtml]="enableAddingNew"></p> -->

<!-- event binding -->

<p *ngIf="serverCreated">{{ serverCreateStatus }}</p>

<!-- ngIf directive with an else condition
<p *ngIf="serverCreated; else noServer">{{ serverCreateStatus }}</p>

#noServer - local reference 
<ng-template #noServer>
  <p>No server was created yet.</p>
</ng-template> -->

<hr />

<app-server>Loading...</app-server>
<app-server>Loading...</app-server>
