@if (isAddingTask) {
<app-new-task
  (addTaskCanceled)="onAddTaskCanceled()"
  (taskAdded)="onTaskAdded($event)"
/>
}

<section id="tasks">
  <header>
    <h2>{{ userName }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
    @for (selectedTask of selectedUserTasks; track selectedTask.id) {
    <li>
      <app-task
        [task]="selectedTask"
        (taskCompleted)="onTaskCompleted($event)"
      />
    </li>
    }
  </ul>
</section>
